Flask==2.2.2
Flask-SQLAlchemy==3.0.2
SQLAlchemy==1.4.42
black==22.10.0
flake8==5.0.4
psycopg2-binary==2.9.4
pyuwsgi==2.0.20
pydantic==1.10.2
SQLAlchemy-Utils==0.38.3
PyJWT==2.6.0
redis==4.3.4
pytest==7.1.3
email-validator==1.3.0
uWSGI==2.0.21
gevent==22.10.1
alembic==1.8.1
flasgger==0.9.5
backoff==2.2.1
